// simplex grid

$gutter-width: 8px;
$gutter-height: 8px;
$limit-width: 1200px;

// grid padding
$grid-padding0: 0;
$grid-padding1: 10px 0;
$grid-padding2: 40px 0;
$grid-padding3: 60px 0;
$grid-padding4: 80px 0;
$grid-padding5: 100px 0;
$grid-padding6: 120px 0;

// column padding
$column-padding0: 0;
$column-padding1: ($gutter-width * 1);
$column-padding2: ($gutter-width * 3);
$column-padding3: ($gutter-width * 5);
$column-padding4: ($gutter-width * 6);
$column-padding5: ($gutter-width * 8);

.flex-filler {
    flex-grow: 1;
}

.grid {
    width: 100%;
    max-width: none;
    padding: 40px 0;
    margin: auto;
    display: flex;
    flex-flow: row wrap;

    &[data-limited] {
        width: 92%;
        max-width: $limit-width;
    }

    // TOP + BOTTOM PADDING - Default is padding 2 or 40px
    &[data-padding="0"] {
        padding: $grid-padding0;
    }
    &[data-padding="1"] {
        padding: $grid-padding1;
    }
    &[data-padding="2"] {
        padding: $grid-padding2;
    }
    &[data-padding="3"] {
        padding: $grid-padding3;
    }
    &[data-padding="4"] {
        padding: $grid-padding4;
    }
    &[data-padding="5"] {
        padding: $grid-padding5;
    }
    &[data-padding="6"] {
        padding: $grid-padding6;
    }

    // Bordered
    &[data-bordered] {
        border-top: 1px solid #ccc;
        border-left: 1px solid #ccc;

        .column {
            border-right: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
        }
    }
}

.row {
    width: 100%;
    max-width: none;
    margin: auto;
    display: flex;
    flex-flow: row wrap;

    // pushed
    &[data-pushed] {
        justify-content: center;
    }

    // Set all child columns to same width
    &[data-columns="2"] {
        .column {
            flex-basis: percentage(1/2);
        }
    }
    &[data-columns="3"] {
        .column {
            flex-basis: percentage(1/3);
        }
    }
    &[data-columns="4"] {
        .column {
            flex-basis: percentage(1/4);
        }
    }
    &[data-columns="5"] {
        .column {
            flex-basis: percentage(1/5);
        }
    }

    // Set alignment for all rows
    &[data-align="top-left"] {
        & > .column {
            align-items: flex-start;
            justify-content: flex-start;
            text-align: left;
        }
    }
    &[data-align="top"] {
        & > .column {
            align-items: center;
            justify-content: flex-start;
            text-align: center;
        }
    }
    &[data-align="top-right"] {
        & > .column {
            align-items: flex-end;
            justify-content: flex-start;
            text-align: right;
        }
    }
    &[data-align="left"] {
        & > .column {
            align-items: flex-start;
            justify-content: center;
            text-align: left;
        }
    }
    &[data-align="center"] {
        & > .column {
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    }
    &[data-align="right"] {
        & > .column {
            align-items: flex-end;
            justify-content: center;
            text-align: right;
        }
    }
    &[data-align="bottom-left"] {
        & > .column {
            align-items: flex-start;
            justify-content: flex-end;
            text-align: left;
        }
    }
    &[data-align="bottom"] {
        & > .column {
            align-items: center;
            justify-content: flex-end;
            text-align: center;
        }
    }
    &[data-align="bottom-right"] {
        & > .column {
            align-items: flex-end;
            justify-content: flex-end;
            text-align: right;
        }
    }

    // PADDING
    &[data-padding="0"] {
        padding: $grid-padding0;
    }
    &[data-padding="1"] {
        padding: $grid-padding1;
    }
    &[data-padding="2"] {
        padding: $grid-padding2;
    }
    &[data-padding="3"] {
        padding: $grid-padding3;
    }
    &[data-padding="4"] {
        padding: $grid-padding4;
    }
    &[data-padding="5"] {
        padding: $grid-padding5;
    }
}

// COLUMNS
.column {
    display: flex;
    flex-flow: column wrap;
    flex-basis: 100%;
    width: 100%;
    padding: $gutter-height $gutter-width;

    // COLORS
    &[data-color="theme1"] {
        background-color: $theme1;
        color: $white;
    }
    &[data-color="theme2"] {
        background-color: $theme2;
        color: $white;
    }
    &[data-color="theme3"] {
        background-color: $theme3;
        color: $white;
    }
    &[data-color="theme4"] {
        background-color: $theme4;
        color: $white;
    }
    &[data-color="theme5"] {
        background-color: $theme5;
        color: $white;
    }
    &[data-color="white1"] {
        background-color: $white1;
    }
    &[data-color="theme5"] {
        background-color: $theme5;
        color: $white;
    }

    // PADDING
    &[data-padding="0"] {
        padding: $column-padding0;
    }
    &[data-padding="1"] {
        padding: $column-padding1;
    }
    &[data-padding="2"] {
        padding: $column-padding2;
    }
    &[data-padding="3"] {
        padding: $column-padding3;
    }
    &[data-padding="4"] {
        padding: $column-padding4;
    }
    &[data-padding="5"] {
        padding: $column-padding5;
    }
    

    // WIDTHS
    &[data-width="1/1"] {
        flex-basis: 100%;
    }
    &[data-width="1/2"] {
        flex-basis: percentage(1/2);
    }
    &[data-width="1/3"] {
        flex-basis: percentage(1/3);
    }
    &[data-width="2/3"] {
        flex-basis: percentage(2/3);
    }
    &[data-width="1/4"] {
        flex-basis: percentage(1/4);
    }
    &[data-width="3/4"] {
        flex-basis: percentage(3/4);
    }
    &[data-width="1/5"] {
        flex-basis: percentage(1/5);
    }
    &[data-width="2/5"] {
        flex-basis: percentage(2/5);
    }
    &[data-width="3/5"] {
        flex-basis: percentage(3/5);
    }
    &[data-width="4/5"] {
        flex-basis: percentage(4/5);
    }

    // ALIGNMENT
    &[data-align="top-left"] {
        align-items: flex-start;
        justify-content: flex-start;
        text-align: left;
    }
    &[data-align="top"] {
        align-items: center;
        justify-content: flex-start;
        text-align: center;
    }
    &[data-align="top-right"] {
        align-items: flex-end;
        justify-content: flex-start;
        text-align: right;
    }
    &[data-align="left"] {
        align-items: flex-start;
        justify-content: center;
        text-align: left;
    }
    &[data-align="center"] {
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    &[data-align="right"] {
        align-items: flex-end;
        justify-content: center;
        text-align: right;
    }
    &[data-align="bottom-left"] {
        align-items: flex-start;
        justify-content: flex-end;
        text-align: left;
    }
    &[data-align="bottom"] {
        align-items: center;
        justify-content: flex-end;
        text-align: center;
    }
    &[data-align="bottom-right"] {
        align-items: flex-end;
        justify-content: flex-end;
        text-align: right;
    }

    @media all and (max-width: 1000px) {
        flex-basis: 100% !important;
    }
}